.loginButton {
  width: 100%;
  height: 45px;
  cursor: pointer;
  border: none;
  
  border-radius: 8px;
  background-color: #427bfe;
  
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  
  transition: background-color 0.2s ease;
}

.loginButton:hover {
  background-color: #3566d6;
}

.buttonText {
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -0.5px;
}