.loginTitleContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: 'Noto Sans', sans-serif;
}

.titleText {
  font-size: 32px;
  color: #000;
  font-weight: 700;
  line-height: 1.2;
}

.logoBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logoImage {
  width: 55px;
  height: auto;
  object-fit: contain;
}