
.rectangleDiv {
    width: 600px;
    max-width: 90%;

    border-radius: 40px;
    background-color: #fff;
    border: 3px solid #cbcfd2;
    box-sizing: border-box;


    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 30px 40px;
    gap: 20px;
}