.parent {
  	width: 100%;
  	position: relative;
  	display: flex;
  	align-items: center;
  	justify-content: center;
  	padding: 10px 0px;
  	box-sizing: border-box;
  	text-align: center;
  	font-size: 36px;
  	color: #333a3d;
  	font-family: 'Noto Sans';
}
.b {
  	position: relative;
}