.SignUp {

    width: 100%;
    height: 60px;
    position: relative;
    border-radius: 8px;

    border: 1px solid #cbcfd2;
    box-sizing: border-box;
    padding: 0 30px;

    font-size: 24px;
    color: #333;
    font-family: 'Noto Sans';

    outline: none;
}


.SignUp:focus {

    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.1);
}


.SignUp::placeholder {
    color: #cbcfd2;
}