.pageWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 1;
}

.componentsWrapper {
  width: 100%;
  max-width: 670px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transform: scale(0.9);
}

.titleSection {
  width: 100%;
  margin-bottom: 40px; 
  display: flex;
  justify-content: center;
}